$mainColor:  #e70d0d;
$secondaryColor: grey;


::selection {
  background-color: $mainColor;

}

body {
  background: radial-gradient( #e6e6e6 70%,#eeeeee90)  fixed;
  
}

.interface {
  max-width: 400px;
  height: auto;
  padding: 20px 40px;
  border-radius: 15px; 
  background:  $mainColor;
  margin: auto;
  box-shadow:  0 5px 10px #868686, 11px 0px 1px rgba(199, 199, 199, 0.246);

}

.title {
  font-family: Geneva, Verdana, sans-serif;
  color: White;
  margin-bottom: 10px;
  margin-top:-4px;
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  letter-spacing: 2px;
  text-shadow: 0 3px 1px rgb(156, 47, 47);
}

.searchIcon {
  position: absolute;
  margin-left:-390px;
  margin-top: 20px;
  font-size: 25px;

}


.searchField {
  width: 95%;
  height: 64px;
  font-size: 2.5em;
  font-family: monospace ,sans-serif;
  border:none;
  border-radius:20px;
  outline: none;
  text-align: center;
  padding: 0 10px;
  box-shadow: -5px 5px 1px rgb(230, 230, 230);
  margin-bottom: 30px;
  
}

.counter {
  font-size: 35px;
  font-family: monospace;
  color: rgb(255, 255, 255);
  position: relative;
  background: darken($mainColor,6%);
  position: absolute;
  padding: 0 7px;
  margin-left:2%;
  border-radius: 50%;
  
}

.item {
  font-family: sans-serif;
  background: white;
  font-size: 20px;
  padding: 10px;
  box-shadow: -5px 0 1px #c5c4c49f;
  border-bottom: 5px solid #c5c4c494;
  transition: .1s linear;
  list-style: none;
  border-radius: 10px;
  position: relative;

  &:hover {
     transform: scale(1.1,1);
      margin-bottom: 4px;

  }

  .userIcon {
    padding-right: 20px;
    font-size: 25px;

  }

}

